body {
    font-family: Arial, sans-serif;
    background-color: #e8f5e9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#task-body {
    width: 80%;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    height: 80vh;
    padding: 0;
    overflow: hidden;
}

#header {
    height: 8%;
    font-size: 24px;
    font-family: monospace;
    font-weight: bold;
    color: #ffffff;
    background-color: #66bb6a;
    text-align: center;
    padding: 20px;
}

#content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#display {
    background: #ffffff;
    font-family: monospace;
    font-size: 16px;
    height: 70%;
    width: 80%;
    padding: 30px;
    text-align: center;
}

#answer {
    display: none;
    width: 80%;
    height: 10%;
    font-size: 18px;
    border: none;
    font-family: monospace;
    border-bottom: 2px solid #d5d5d5;
    outline: none;
    text-align: center;
    background: transparent;
}

#answer:focus {
    border-bottom: 2px solid #81ff89;
}

#footer {
    text-align: center;
    padding: 15px;
    height: 8%;
    background: white;
}

#finish {
    background: #66bb6a;
    height: 100%;
    width: 60%;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

#finish:hover {
    background: #43a047;
}

#loading {
    max-width: 100%;   /* 限制图片最大宽度为父容器的宽度 */
    max-height: 100%;  /* 限制图片最大高度为父容器的高度 */
    display: block;    /* 防止图片在其父容器中显示为行内元素 */
    margin: 0 auto;    /* 可选，居中显示 */
}