<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    {% block style %}{% endblock style %}
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    <div class="header"></div>
    <div class="navigator">
        <a class="home {% if request.endpoint == 'index.index' %}active{% endif %}" href="/"><span style="font-size: 1.5em;">🏠</span>&nbsp;&nbsp;&nbsp;&nbsp; Home</a>
        <a class="learn {% if request.endpoint == 'learn.index' %}active{% endif %}" href="/learn"><span style="font-size: 1.5em;">🧑🏻‍💻</span>&nbsp;&nbsp;&nbsp;&nbsp; Learning</a>
        <a class="notebook {% if request.endpoint == 'notebook.index' %}active{% endif %}" href="/notebook"><span style="font-size: 1.5em;">📙</span>&nbsp;&nbsp;&nbsp;&nbsp; Notebook</a>
        <a class="setting {% if request.endpoint == 'setting.index' %}active{% endif %}" href="/setting"><span style="font-size: 1.5em;">⚙️</span>&nbsp;&nbsp;&nbsp;&nbsp; Setting</a>
    </div>
    <div class="content">
        {% block content %}{% endblock content %}
    </div>
    <div class="footer"></div>
</body>
</html>